# Tailnet
HOMEPAGE_VAR_TS_DOMAIN=

# Plex integration
HOMEPAGE_VAR_PLEX_URL=
HOMEPAGE_VAR_PLEX_TOKEN=

# Tautulli (Plex) integration
HOMEPAGE_VAR_TAUTULLI_KEY=

# Komga integration
HOMEPAGE_VAR_KOMGA_USERNAME=
HOMEPAGE_VAR_KOMGA_PASSWORD=

# Calibre-Web-Automated integration
HOMEPAGE_VAR_CALIBRE_USERNAME=
HOMEPAGE_VAR_CALIBRE_PASSWORD=

# *Arr stack integration
HOMEPAGE_VAR_SONARR_KEY=
HOMEPAGE_VAR_RADARR_KEY=
HOMEPAGE_VAR_PROWLARR_KEY=
HOMEPAGE_VAR_BAZARR_KEY=

# Portainer integration
HOMEPAGE_VAR_PORTAINER_KEY=
HOMEPAGE_VAR_PORTAINER_ENV=1

# qBittorrent integration
HOMEPAGE_VAR_QBITTORRENT_USERNAME=
HOMEPAGE_VAR_QBITTORRENT_PASSWORD=
